[submodule "neuron_level_reliability_analysis"]
	path = neuron_level_reliability_analysis
	url = https://github.com/fffasttime/MRFI.git
[submodule "FPGA_based_reliability_emulation_system"]
	path = FPGA_based_reliability_emulation_system
	url = https://github.com/ICT-CHASE/fault-analysis-of-FPGA-based-NN-accelerator.git
[submodule "operation_level_reliability_analysis"]
	path = operation_level_reliability_analysis
	url = https://github.com/xuexinghua/Operation-level-FI.git
[submodule "application_level_analysis_for_autonomous_driving"]
	path = application_level_analysis_for_autonomous_driving
	url = https://github.com/fffasttime/CARLA-FI
[submodule "architecture_level_fault_simulation"]
	path = architecture_level_fault_simulation
	url = https://github.com/One-B-Tree/Saca-FI-A-microarchitecture-level-fault-injection-framework-for-CNN-accelerator
